*{
  box-sizing: border-box;
  padding:  0;
  margin:  0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #2c2c2c;
}


.ola {
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
  margin-top: 240px;
}
  
  .div {
    display: flex;
    justify-content: center;
  }
  
  .link {
    display: flex;
    justify-content: center;
    color: #9123df;
    margin-top: 30px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px 40px 10px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    margin-bottom: 10px;
    color: #000;
    outline: none;
  transition: background 0.3s, color 0.3s;
  }
  
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #9123df;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #571388;
  }